/*default font family*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*custom styles*/
@layer utilities {
  /*safe placement*/
  .justify-safe-center {
    justify-content: safe center;
  }
  .items-safe-center {
    align-items: safe center;
  }

  /*Static disk bgs*/
  .diskBgSm {
    background: linear-gradient(
      120deg,
      rgba(4, 4, 4, 0.2) 60%,
      rgba(16, 16, 16, 0.8)
    );
  }

  .diskBgXl {
    background: radial-gradient(
      circle at 50% 50%,
      rgba(64, 64, 64, 0.4),
      rgba(32, 32, 32, 0.8) 30%,
      rgba(16, 16, 16, 0.4) 90%
    );
  }

  /*Static app bgs*/
  /*
  background image link: https://unsplash.com/photos/milky-way-galaxy-HWXSmUoP66E
  */
  .appBgSm {
    background: linear-gradient(
        240deg,
        rgba(255, 255, 255, 0.6),
        rgba(16, 64, 255, 0.2),
        rgba(255, 64, 16, 0.3)
      ),
      url("./bg-small.jpg");
  }

  .appBgMd {
    background: linear-gradient(
        30deg,
        rgba(255, 255, 255, 0.6),
        rgba(16, 64, 255, 0.2),
        rgba(255, 64, 16, 0.3)
      ),
      url("./bg-large.jpg");
  }

  /*
  circle shape for arc
  cut the disk
  can hover 
  */
  .circle {
    clip-path: ellipse(50% 100% at 50% 100%);
  }

  .revCircleMd {
    clip-path: ellipse(50% 100% at 50% 0%);
  }

  .resetClip {
    clip-path: none;
  }

  /*xl > hide details button shape*/
  /*from: https://bennettfeely.com/clippy
  */
  .clipHideBtn {
    clip-path: polygon(100% 0%, 70% 50%, 100% 100%, 30% 100%, 0% 50%, 30% 0%);
  }

  /*from: https://bennettfeely.com/clippy
  */
  .clipHideBtn-hover {
    clip-path: polygon(100% 0%, 60% 50%, 100% 100%, 40% 100%, 0% 50%, 40% 0%);
  }

  /*Animations*/
  @keyframes enter {
    0% {
      height: 0;
    }

    100% {
      height: 100%;
    }
  }

  @keyframes leave {
    0% {
      height: 100%;
    }

    100% {
      height: 0;
    }
  }

  @keyframes enter-xl {
    0% {
      left: 0;
      width: 0;
      opacity: 0;
    }

    100% {
      width: 100%;
      opacity: 100%;
    }
  }

  @keyframes leave-xl {
    0% {
      width: 100%;
      opacity: 100%;
    }

    100% {
      width: 0;
      left: 0;
      opacity: 0;
    }
  }

  @keyframes personalCardEnterFrame {
    0% {
      opacity: 0;
      height: 0;
    }

    100% {
      opacity: 1;
      height: 20%;
    }
  }

  @keyframes experienceCardEnterFrame {
    0% {
      height: 0;
      opacity: 0;
    }

    75% {
      height: 90%;
    }

    100% {
      height: 75%;
      opacity: 1;
    }
  }

  .details-enter {
    animation: enter 1.4s ease-out forwards;
    overflow: hidden;
  }

  .details-leave {
    animation: leave 1.4s ease-in forwards;
    overflow: hidden;
  }

  .details-enter--xl {
    animation: enter-xl 0.8s ease-out forwards;
    overflow: hidden;
  }

  .details-leave--xl {
    animation: leave-xl 0.8s ease-in forwards;
    overflow: hidden;
  }

  .personalCardEnter {
    animation: personalCardEnterFrame 1.8s ease-in forwards;
    overflow: hidden;
  }

  .experienceCardEnter {
    animation: experienceCardEnterFrame 1.6s ease forwards;
    overflow: hidden;
  }
}
